@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    background-color: #b1d6f1;
}

.App {
    font-family: 'Poppins', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
