.UsMapQuiz {
    display: flex;
    width: 95%;
}

.UsMapTitleStats {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    max-height: 75vh;
}

.UsaFlagImg {
    width: 20vw;
}

.UsMap {
    position: relative;
    width: 100%;
}

.UsMapTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.QuizCurrentState {
    padding: 3px;
    border-width: 4px 0 4px 0;
    border-image: linear-gradient(to right, #002C77,#CC0C2F);
    border-image-slice: 1;
    border-style: solid;
    margin: 0;
}